body {
    font-family: Arial, sans-serif;
    background-color: #c189ea;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  .container {
    background-color: #5a189a;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px 50px;
    width: 300px;
  }
  .item {
    background-color: #340e4f;
    border: none;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    display: flex;
    align-items: center;
  }
  .item input[type="checkbox"] {
    margin-right: 10px;
  }